@{
    ViewData["Title"] = "Home Page";
}

<p>Hello from the web app.</p>

<ul>
    <li><a href="/myplugin">/myplugin</a></li>
    <li><a href="/plugin_admin">/admin</a></li>
    <li><a href="/plugin_user">/user</a></li>
    <li><a href="/plugin_destekleme">/destekleme</a></li>
</ul>
